.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 20000;
  }
  .cursor--large {
    --size: 40px;
    border: 1px solid #ff3c3c;
  }
  .cursor--small {
    --size: 10px;
    background: #ff3c3c;
    transform: translate(-50%, -50%);
  }