/*
  * Author: Nathan Boisleux 2024 *
*/
/* HEADER */
header {
    grid-area: header;
    background-color: var(--background);
    padding: 5.9vh 0 0 10vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--input);
    width: 100%;
    height: 15vh;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10vw;
}

header nav .nav-link {
    color: var(--input);
    transition: var(--transition);
}

header nav .nav-link a {
    font-size: 1.3rem;
    color: var(--input);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    transition: var(--transition);
}

header nav .nav-link:hover a {
    color: var(--primary);
    transform: translateY(-10px);
}



/* MOBILE HEADER */
#mobile-header {
    grid-area: mobileHeader;
    height: 10rem;
    width: 100%;
    background-color: red;
}