/*
  * Author: Nathan Boisleux 2024 *
*/
/* HEADER */
header {
    grid-area: header;
    background-color: var(--background);
    padding: 5.9vh 0 0 10vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--input);
    width: 100%;
    height: 15vh;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10vw;
}

header nav .nav-link {
    color: var(--input);
    transition: var(--transition);
}

header nav .nav-link a {
    font-size: 1.3rem;
    color: var(--input);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    transition: var(--transition);
}

header nav .nav-link:hover a {
    color: var(--primary);
    transform: translateY(-10px);
}



/* MOBILE HEADER */
#mobile-header {
    display: none;
    grid-area: mobileHeader;
    height: 5rem;
    width: 100%;
    background-color: var(--second-background);
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: var(--input);  
    z-index: 1000;
}

#mobile-header #menu {
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
}

#mobile-header h2 {
    color: var(--input);  
    margin: 0;
    font-size: 1.5em;
}

#mobile-header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#mobile-header li i {
    color: var(--input);    
    font-size: 1.3em;
}

#mobile-nav {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 20rem;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: var(--transition) ease-in-out;
}

#mobile-header #mobile-nav.hidden {
    left: -100rem;
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

#mobile-nav ul li {
    cursor: pointer;
    padding: 1rem;
    border-radius: var(--radius);
    border: var(--outline);
    transition: var(--transition);
}

#mobile-nav ul li:hover {
    border: var(--outline-focus);
}

#mobile-nav ul li a {
    text-decoration: none;
    color: var(--input);
}

#mobile-header #menu-h2 {
    color: var(--primary);
}